{% extends "_base.twig" %}
{% block title %}Work - {% endblock %}
{% block content %}

<div class="expanded row collapse">
{% block mainWorkImage %}
	{# <img class="small-12 columns" src="/img/aub1.jpg" alt="Main image"> #}
{% endblock %}
</div>
<div id="socialContainer">
	{% include '_social.twig' %}
	<section id="workSection">
		<article id="workPage" class="main-article hMargin truncated read-more-container">
			<div class="row trucateContent">
				<div class="small-12 medium-6 columns">
					<heading>
						{% block workHeading %}
							<h1>Heading</h1>
							<h2>Heading</h2>
							<p class="strong-title">Foo Bar</p>
						{% endblock %}
					</heading>
					<hr class="show-for-large">
				</div>
				<div class="small-12 medium-11 large-6 columns large-float-right">
					<hr class="hide-for-large">
					{% block workContent %}

					 {% endblock %}
					<hr class="hide-for-large">
				</div>
				<div class="extraInfo medium-11 small-12 large-6 columns end">
					{% block workLeftColumn %}

					{% endblock %}
				</div>
			</div>
			<div class="fadeout"></div>
		</article>
		<div class="row">
			<div class="small-12 columns text-center">
				<button onclick="showToggle($('#workPage'),$(this))" class="button white font-light read-more-toggle" type="button">
					<img src="/img/icons/plus.png" alt=""> Read More
				</button>
			</div>
		</div>
	</section>
	<section id="imageList" class="light-gray-bg">
		{% set images = [
			{'img':'/img/AUB_7u5c9874.jpg', 'layout':'full', 'text':''},
			{'img':'/img/B&C_UCAS_31.JPG', 'layout':'full', 'text':''},
			{'img':'/img/totebag.jpg', 'layout':'right', 'text':'<h3>Ucas Stand</h3> <p>Against a turbulent market backdrop, Arts University Bournemouth (AUB) needed to reinvent their prospectus. Recognising that it can easily be discarded by prospective students as a tired piece of print, and understanding the importance of their online presence, their traditional prospectus needed a new lease of life.</p>'},
			{'img':'/img/B&C_UCAS_307.JPG', 'layout':'full', 'text':''},
			{'img':'/img/AUB_7u5c9940.jpg', 'layout':'left', 'text':'<h3>Prospectus</h3> <p>Against a turbulent market backdrop, Arts University Bournemouth (AUB) needed to reinvent their prospectus. Recognising that it can easily be discarded by prospective students as a tired piece of print, and understanding the importance of their online presence, their traditional prospectus needed a new lease of life.</p>'},
			{'img':'/img/B&C_UCAS_167.JPG', 'layout':'full', 'text':''},
			{'img':'/img/B&C_UCAS_185.JPG', 'layout':'full', 'text':''},
			{'img':'/img/courseguides.jpg', 'layout':'full', 'text':''},
		] %}

		{% for image in images %}
			{% if image.layout == 'left' %}
			<img class="half-image left" src="{{ image.img }}" alt="Image">
			<div class="hMargin">
				<div class="row">
					<div class="small-12 medium-11 large-6 columns end">
						<div class="imageText right-text">
							{{ image.text|raw }}
						</div>
					</div>
				</div>
			</div>

			{% elseif image.layout == 'right' %}

			<img class="half-image right" src="{{ image.img }}" alt="Image">
			<div class="hMargin">
				<div class="row left-text">
					<div class="small-12 medium-11 large-6 end columns">
						<div class="imageText left-text">
							{{ image.text|raw }}
						</div>
					</div>
				</div>
			</div>

			{% else %}
			<div class="row expanded collapse">
				<div class="small-12 columns text-center">
					<img src="{{ image.img }}" alt="Image">
				</div>
			</div>

			{% endif %}

		{% endfor %}
	</section>
	<section id="relatedWork">
		<div class="hMargin">
			<header class="row column">
				<h1 class="vMargin">Related Work</h1>
			</header>
		</div>
		<div class="expanded row collapse imageTiles" data-equalizer data-equalize-on="medium">
			{% set relatedImages = [
				'/img/aub1.jpg',
				'/img/aecc-email.jpg',
				'/img/ellie.jpg'
			] %}
			{% for image in relatedImages %}
				<article class="small-12 medium-4 columns vertical-center-container" onClick="window.location.href = '/work';" data-equalizer-watch>
					<img src="{{ image }}" alt="">
					<div class="desc vertical-center-delay">
						<h3>Arts University Bournemouth</h3>
						<h1><a href="/work" onClick="event.preventDefault();">Brand Strategy and an Award Winning Prospectus</a></h1>
					</div>
				</article>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}