{% extends "_base.twig" %}
{% block title %}About - {% endblock %}
{% block content %}
<header class="vertical-center-container">
	<img class="heading-image show-for-large" src="img/about.jpg" alt="">
	<div class="hMargin">
		<div class="row">
			<div class="columns vertical-center vertical-center-delay small-12 medium-10 medium-offset-1 large-6 large-offset-0 end heading-text">
				<h1 class="big-header">We help organisations and individuals spread ideas that capture people’s attention and make a positive difference to revenues, causes and reputations.</h1>
			</div>
		</div>
	</div>
</header>
<div class="row collapse hide-for-large">
	<img class="full-width" src="img/about.jpg" alt="">
</div>
<section id="servicesSection" class="hMargin">
	<div class="row">
		<div class="columns small-12">
			<h1>We provide goal orientated services...</h1>
		</div>
	</div>
	<div class="row service-content-block">
		<div class="columns small-12 medium-11 end large-6">
			<h3>Definition and Creation</h3>
			<p>We work to define our clients' brand today and what their brand will be tomorrow. By defining what makes them unique, we enable them to confidently and powerfully enter their market. Through strategic processes, we deliver strong brand positioning that defines how a brand can create real distinction within its sector, extending its reputation, reach and influence.</p>
			<hr>
			<div class="row strong-footer">
				<div class="columns small-12 medium-6">
					<strong>
						Brand proposition development<br>
						Brand positioning<br>
						Strategic planning
					</strong>
				</div>
				<div class="columns small-12 medium-6">
					<strong>
						Brand identity<br>
						Logos<br>
						Brand guidelines<br>
						Photography<br>
					</strong>
				</div>
			</div>
		</div>
		<div class="columns large-6 show-for-large">
			<img src="img/about3.jpg" alt="">
		</div>
	</div>
	<div class="row service-content-block">
		<div class="columns large-6 show-for-large">
			<img src="img/about4.jpg" alt="">
		</div>
		<div class="columns small-12 medium-11 end large-6">
			<h3>Interaction and Development </h3>
			<p>
				We create digital and physical interactions that help our clients to engage with their audiences in new and exciting ways. We harness the opportunities made possible by new technologies and materials to build interactions that reinforce a brand and provide opportunities to start conversations with target audiences. From the phone screen through to stands at exhibitions, we build interactions that carry our clients’ distinctive signatures.
			</p>
			<hr>
			<div class="row strong-footer">
				<div class="columns small-12 medium-6">
					<strong>
						Website design and build<br>
						App development<br>
						Exhibition and stand design
					</strong>
				</div>
				<div class="columns small-12 medium-6">
					<strong>
						Business proposition <br>
						Service creation<br>
						New communication formats<br>
						New ways to manage marketing
					</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="row service-content-block">
		<div class="columns small-12 medium-11 end large-6">
			<h3>Communication and Awareness</h3>
			<p>We specialise in telling complex stories simply. Working closely with clients and stakeholders, we distill important messages and write, edit and design communications that make those messages digestible. We are expert at designing communications across all print and digital media formats and work efficiently to produce on-budget, on-time and on-brand collateral for our clients. </p>
			<hr>
			<div class="row strong-footer">
				<div class="columns small-12 medium-6">
					<strong>
						Animations<br>
						Brochures and reports<br>
						Marketing collateral
					</strong>
				</div>
				<div class="columns small-12 medium-6">
					<strong>
						Marketing campaigns<br>
						PR-generating projects<br>
						Social media strategies
					</strong>
				</div>
			</div>
		</div>
		<div class="columns large-6 show-for-large">
			<img src="img/about5.jpg" alt="">
		</div>
	</div>
</section>
<section id="teamSection">
	<div class="hMargin">
		<div class="row">
			<div class="columns small-12">
				<h1>...from a motivated team.</h1>
			</div>
		</div>
	</div>
	<div id="teamTiles">
		<div class="row expanded collapse small-up-2 medium-up-3 large-up-4">
			{% set teamImages = [
				'img/team/one.jpg',
				'img/team/eight.jpg',
				'img/team/nine.jpg',
				'img/team/two.jpg',
				'img/team/three.jpg',
				'img/team/four.jpg',
				'img/team/five.jpg',
				'img/team/six.jpg',
				'img/team/seven.jpg',
			] %}
			{% for image in teamImages %}
			<div class="image-tile columns team-member">
				<button class="team-member-image" type="button" onClick="teamToggle($(this))">
					<img class="" src="{{image}}" alt="">
				</button>
				<div class="team-member-desc">
					<h2>Joey Bloggs</h2>
					<h3>Job Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quos eum aspernatur, aperiam accusamus dignissimos maiores? Aperiam temporibus perspiciatis, qui nostrum, quaerat ratione adipisci laudantium ullam hic dignissimos, cum excepturi ex. Unde numquam aliquid quisquam, corporis quis pariatur minus exercitationem! Eligendi impedit quo ab libero quasi laborum a eum tempore esse ducimus fuga atque est, non suscipit? Fugit blanditiis fuga voluptatum incidunt quo, unde. Atque fuga vero natus, perferendis sequi!</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<div id="teamDescContainer">
			<div class="row expanded collapse">
				<div class="column small-12 medium-11 end large-6 large-offset-3">
					<div id="teamDesc">
						<button class="close button square" onClick="teamCloseAll()">
							<img src="/img/icons/cross.png" alt="">
						</button>
						<h2>Joey Bloggs</h2>
						<h3>Job Title</h3>
						<br>
						<p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quos eum aspernatur, aperiam accusamus dignissimos maiores? Aperiam temporibus perspiciatis, qui nostrum, quaerat ratione adipisci laudantium ullam hic dignissimos, cum excepturi ex. Unde numquam aliquid quisquam, corporis quis pariatur minus exercitationem! Eligendi impedit quo ab libero quasi laborum a eum tempore esse ducimus fuga atque est, non suscipit? Fugit blanditiis fuga voluptatum incidunt quo, unde. Atque fuga vero natus, perferendis sequi!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<div class="row expanded collapse">
	<div class="columns small-12">
		<img src="img/about2.jpg" alt="">
	</div>
</div>
<section id="partnerSection" class="hMargin">
	<div class="row column">
		<h1>We have worked with some great people...</h1>
	</div>
	{% set clentImages = [
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
		'img/clients/google.jpg',
	] %}
	<div class="center-grid">
		<div class="client-row row expanded collapse small-up-2 medium-up-3 large-up-4 text-center small-last{{clentImages|length % 2}} medium-last{{clentImages|length % 3}} large-last{{clentImages|length % 4}}">
			{% for image in clentImages %}
			<div class="columns client-columns center-grid-columns">
				<img src="{{image}}" alt="">
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="row column">
		<h1>...and we were recognised in the process.</h1>
	</div>
	{% set awardImages = [
		{'img':'img/award/one.jpg','year':'2015','award':"Chair's Grand Prix Award"},
		{'img':'img/award/one.jpg','year':'2015','award':"Winner Innovation - SME"},
		{'img':'img/award/two.jpg','year':'2014','award':"Winner Corporate Brochure"},
		{'img':'img/award/three.jpg','year':'2014','award':"Best Education Campaign"},
		{'img':'img/award/four.jpg','year':'2014','award':"Gold for Best Innovation and Creative"},
		{'img':'img/award/four.jpg','year':'2014','award':"Gold for Best Specialist Prospectus"},

	] %}
	<div class="center-grid">
		<div class="row expanded collapse small-up-2 medium-up-3 large-up-4 text-center small-last{{awardImages|length % 2}} medium-last{{awardImages|length % 3}} large-last{{awardImages|length % 4}}">
			{% for image in awardImages %}
			<div class="columns award-columns center-grid-columns">
				<img src="{{image.img}}" alt="">
				<h3>{{image.year}}</h3>
				<strong>{{image.award}}</strong>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}